@import '@/scss/mixins';
@import '@/scss/variables';

@mixin icon-button-size($base) {
  $button-size: calc($base * 1.5);

  font-size: $base;
  height: $button-size;
  line-height: $button-size;
  width: $button-size;
  max-height: $button-size;
  max-width: $button-size;
  min-height: $button-size;
  min-width: $button-size;

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    display: block;
    font-size: $base;
  }
}

@mixin icon-button-base {
  @include font-bold;
  @include icon-button-size(1.5rem);
  @include sans;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.1s ease-in-out;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
  }

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    display: block;
  }

  &.IconButton--size--xs {
    @include icon-button-size(1rem);
  }

  &.IconButton--size--sm {
    @include icon-button-size(1.25rem);
  }

  &.IconButton--size--md {
    @include icon-button-size(1.5rem);
  }

  &.IconButton--size--lg {
    @include icon-button-size(1.75rem);
  }

  &.IconButton--size--xl {
    @include icon-button-size(2rem);
  }
}

// Default variant

.IconButton--variant--default {
  @include icon-button-base;
  color: $tw-gray-950;

  &:disabled {
    color: $tw-slate-400 !important;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $tw-gray-50;
    }

    &:active {
      background-color: $tw-gray-100;
    }
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.IconButton--color--#{$color} {
      color: map-get($map, '600');

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, '50');
        }

        &:active {
          background-color: map-get($map, '100');
        }
      }
    }
  }

  // named colors

  &.IconButton--color--primary {
    color: $primary-600;

    &:not(:disabled) {
      &:hover {
        background-color: $primary-50;
      }

      &:active {
        background-color: $primary-100;
      }
    }
  }
}

// Outlined variant

.IconButton--variant--outlined {
  @include icon-button-base;
  background-color: transparent;
  border: 1px solid $border;
  color: $tw-gray-950;

  &:disabled {
    border-color: $tw-slate-400 !important;
    color: $tw-slate-400 !important;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $tw-gray-50;
    }

    &:active {
      background-color: $tw-gray-100;
    }
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.IconButton--color--#{$color} {
      border-color: map-get($map, '600');
      color: map-get($map, '600');

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, '50');
        }

        &:active {
          background-color: map-get($map, '100');
        }
      }
    }
  }

  // named colors

  &.IconButton--color--primary {
    border-color: $primary-600;
    color: $primary-600;

    &:not(:disabled) {
      &:hover {
        background-color: $primary-50;
      }

      &:active {
        background-color: $primary-100;
      }
    }
  }
}

// Raised variant

.IconButton--variant--raised {
  @include icon-button-base;
  @include shadow-sm;
  background-color: white;
  color: $tw-gray-950;

  &:not(:disabled) {
    &:active {
      @include shadow-md;
    }
  }

  &:disabled {
    background-color: $tw-slate-100 !important;
    color: $tw-slate-400 !important;
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.IconButton--color--#{$color} {
      background-color: map-get($map, '600');
      color: white;
    }
  }

  // named colors

  &.IconButton--color--primary {
    background-color: $primary-600;
    color: white;
  }
}

// Ghost variant

.IconButton--variant--ghost {
  @include icon-button-base;
  background-color: transparent;
  border: 1px solid $border;
  color: $tw-gray-950;

  &:not(:disabled) {
    &:hover {
      @include shadow-sm;
    }

    &:active {
      @include shadow-md;
    }
  }

  &:disabled {
    border-color: $tw-slate-400 !important;
    color: $tw-slate-400 !important;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $tw-gray-600;
      color: white;
    }
  }

  // colors

  @each $map, $color in $tw-color-list {
    &.IconButton--color--#{$color} {
      border-color: map-get($map, '600');
      color: map-get($map, '600');

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, '600');
          color: white;
        }
      }
    }
  }

  &.IconButton--color--primary {
    border-color: $primary-600;
    color: $primary-600;

    &:not(:disabled) {
      &:hover {
        background-color: $primary-600;
        color: white;
      }
    }
  }
}
