@import '@/scss/mixins';
@import '@/scss/variables';

.SearchPopover {
  &__matchList {
    @include scrollbar;
    margin-top: 1rem;
    max-height: 16rem;
    overflow-y: auto;
  }

  &__match {
    @include radius-md;
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    line-height: 2rem;
    outline: none;
    padding: 0 0.5rem;
    position: relative;
    user-select: none;

    &:hover {
      background-color: $primary-600;
      color: white !important;
    }
  }
}
