@import '@/scss/variables';

.TechnicianDayOverview {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      th {
        border: 1px solid black;
        font-size: 0.625rem;
        padding: 0.25rem;
        text-align: left;
        writing-mode: vertical-rl;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
      }

      &:nth-child(even) {
        background-color: var(--muted);
      }

      &:hover {
        background-color: var(--border);
      }
    }
  }

  tfoot {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
      }

      &:hover {
        background-color: var(--border);
      }
    }
  }

  &__slot {
    position: relative;

    &__corner {
      background-color: black;
      color: white;
      font-size: 0.5rem;
      position: absolute;
      padding: 0.125rem;
      line-height: 1;
      right: 0;
      top: 0;
    }
  }
}
