@import '~/scss/mixins';
@import '~/scss/variables';

.TechnicianDayOverview {
  thead {
    tr {
      th {
        border: 1px solid black;
        font-size: 0.625rem;
        padding: 0.25rem;
        text-align: left;
        writing-mode: vertical-rl;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
      }

      &:hover {
        background-color: $tw-gray-200;
      }
    }
  }

  tfoot {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
      }

      &:hover {
        background-color: $tw-gray-200;
      }
    }
  }
}
