Django==5.2.12
djangorestframework==3.17.1
django-auditlog==3.4.1
django-colorfield==0.14.0
django-cors-headers==4.9.0
django-encrypted-model-fields==0.6.5
django-extensions==4.1
django-filter==25.2
django-rest-knox==5.0.4
Pillow==12.2.0

# testing
Faker==37.1.0

# dev dependencies
flake8
isort
black
bandit
coverage
djlint

# production
psycopg2-binary==2.9.10
uwsgi
