Django==5.2.6
djangorestframework==3.16.1
django-auditlog==3.2.1
django-colorfield==0.14.0
django-cors-headers==4.9.0
django-encrypted-model-fields==0.6.5
django-extensions==4.1
django-filter==25.1
django-rest-knox==5.0.2
Pillow==11.3.0
requests==2.32.5

# asynchronous tasks
celery~=5.5.2
redis~=6.0.0

# social auth
social-auth-app-django==5.5.1

# payments/subscriptions
stripe==12.1.0

# error tracking
sentry-sdk[django]~=2.27.0

# testing
Faker==37.1.0

# dev dependencies
flake8
isort
black
bandit
coverage
djlint

# production
psycopg2-binary==2.9.10
uwsgi
