@import '~/scss/mixins';
@import '~/scss/variables';

.StyleGuide {
  &__container {
    display: flex;
  }

  &__sidebar {
    width: 240px;
  }

  &__main {
    flex: 1;
  }

  &__example {
    display: flex;

    &__content {
      @include radius-sm;
      align-items: center;
      border: 1px solid $border;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      min-height: 16rem;
      min-width: 16rem;
    }
  }
}
