@import '@/scss/mixins';
@import '@/scss/variables';

@mixin checkbox-size($base) {
  $box-size: $base * 1.5;

  font-size: $base;
  min-height: calc($box-size);
  line-height: calc($box-size);
  padding-left: calc($box-size + 0.5rem);

  .Checkbox__mark {
    height: calc($box-size);
    width: calc($box-size);
  }

  .Checkbox {
    &:checked ~ .Checkbox__mark:after {
      height: calc($box-size * 0.25);
      width: calc($box-size * 0.5);
    }
  }
}

.Checkbox__container {
  @include checkbox-size(1rem);
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;

  input {
    display: none;
  }

  &:hover {
    .Checkbox:not(:checked):not(:disabled) ~ .Checkbox__mark {
      border-color: $tw-gray-400;
    }
  }

  &:focus,
  &:active {
    .Checkbox:not(:checked):not(:disabled) ~ .Checkbox__mark {
      border-color: $primary-600;
    }
  }

  &.Checkbox__container--size--xs {
    @include checkbox-size(0.75rem);
  }

  &.Checkbox__container--size--sm {
    @include checkbox-size(0.875rem);
  }

  &.Checkbox__container--size--md {
    @include checkbox-size(1rem);
  }

  &.Checkbox__container--size--lg {
    @include checkbox-size(1.125rem);
  }

  &.Checkbox__container--size--xl {
    @include checkbox-size(1.25rem);
  }
}

.Checkbox {
  &:checked ~ .Checkbox__mark {
    border-color: $primary-600;
  }

  &:checked ~ .Checkbox__mark:after {
    border-left: 2px solid $primary-600;
    border-bottom: 2px solid $primary-600;
    content: '';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:disabled ~ .Checkbox__mark {
    background-color: $tw-slate-100;
    border-color: $tw-slate-200;
    cursor: not-allowed;
  }
}

.Checkbox__mark {
  @include radius-md;
  border: 1px solid $border;
  color: $primary-600;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
}
