@import '~/scss/mixins';
@import '~/scss/variables';

.TabItem {
  @include font-bold;
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  color: $tw-gray-700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  transition: color 0.1s ease-in-out, border 0.1s ease-in-out;

  &--active {
    border-bottom: 2px solid $primary-600;
    color: $primary-600;
  }
}
