{% extends 'schedule_builder/email/base.html' %}

{% block content %}
<p>You're receiving this email because you requested a password reset for your user account at {{ settings.SITE_NAME }}.</p>
<p>Please go to the following page and choose a new password:</p>
<p><a href="{{ settings.FRONTEND_URL }}/password-reset/{{ uid }}/{{ token }}">{{ settings.FRONTEND_URL }}/password-reset/{{ uid }}/{{ token }}</a></p>
<p>Your username, in case you've forgotten: {{ user.get_username }}</p>
<p>Thanks for using our site!</p>
<p>The {{ settings.SITE_NAME }} team</p>
{% endblock %}
