{% extends 'schedule_builder/email/base.html' %}

{% block content %}
<p>You're receiving this email because your password for your user account at {{ settings.SITE_NAME }} was changed.</p>
<p>If this was you, you can safely ignore this email.</p>
<p>If this wasn't you, your account has been compromised. Please reset your password!</p>
<p>Click the link below to reset your password:</p>
<p><a href="{{ settings.FRONTEND_URL }}/password-reset">{{ settings.FRONTEND_URL }}/password-reset</a></p>
<p>Your username, in case you've forgotten: {{ user.get_username }}</p>
<p>Thanks for using our site!</p>
<p>The {{ settings.SITE_NAME }} team</p>
{% endblock %}
