@import '~/scss/variables';
@import '~/scss/mixins';

.TimeInput {
  &__popover {
    @include scrollbar;
    max-height: 10rem;
    overflow-y: auto;
  }

  &__slots {
    display: flex;
    flex-direction: column;
  }

  &__slot {
    cursor: pointer;
    padding: 0.5rem;

    &--active {
      background-color: $primary-600;
      color: white;
    }
  }
}
