.AvailabilityForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;

  &__row {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  &__actions {
    align-items: center;
    display: flex;
  }

  &__confirmDelete {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__actions {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
    }
  }
}
