// General typographic rules
html,
body {
  @include font-normal;
  @include sans;
  color: $tw-gray-950;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

.material-icons,
.material-symbols,
.material-symbols-outlined {
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.error {
  @include font-medium;
  color: $tw-red-700;
  font-size: 0.875rem;
}

.hint {
  @include font-normal;
  color: $tw-gray-600;
  font-size: 0.75rem;
}
