@import './tailwind-colors';
// colors

// NOTE: Search project-wide to see where colors are used before deleting them.

$border: $tw-gray-300;

$primary-50: $tw-blue-50;
$primary-100: $tw-blue-100;
$primary-200: $tw-blue-200;
$primary-300: $tw-blue-300;
$primary-400: $tw-blue-400;
$primary-500: $tw-blue-500;
$primary-600: $tw-blue-600;
$primary-700: $tw-blue-700;
$primary-800: $tw-blue-800;
$primary-900: $tw-blue-900;
$primary-950: $tw-blue-950;
