@import '@/scss/mixins';
@import '@/scss/variables';

@mixin badge-size($base) {
  font-size: $base;
  padding-left: calc($base * 0.75);
  padding-right: calc($base * 0.75);
  padding-top: calc($base * 0.25);
  padding-bottom: calc($base * 0.25);

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    font-size: $base;
  }
}

.Badge {
  @include badge-size(0.875rem);
  @include font-medium;
  align-items: center;
  background-color: $tw-gray-200;
  color: $tw-gray-800;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5rem;
  margin: 0;
  width: fit-content;

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    font-size: 1rem;
  }

  &.Badge--size--xs {
    @include badge-size(0.75rem);
  }

  &.Badge--size--sm {
    @include badge-size(0.875rem);
  }

  &.Badge--size--md {
    @include badge-size(1rem);
  }

  &.Badge--size--lg {
    @include badge-size(1.125rem);
  }

  &.Badge--size--xl {
    @include badge-size(1.25rem);
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.Badge--color--#{$color} {
      background-color: map-get($map, '200');
      color: map-get($map, '800');
    }
  }

  // named colors

  &.Badge--color--primary {
    background-color: $primary-200;
    color: $primary-800;
  }
}
