@import '~/scss/mixins';
@import '~/scss/variables';

@mixin spinner-size($base) {
  &:before {
    border-width: calc($base * 0.25);
    height: calc($base * 2);
    width: calc($base * 2);
  }

  & ~ .Spinner__message {
    font-size: $base;
  }
}

.Spinner {
  @include spinner-size(1rem);

  &:before {
    @include radius-full;
    animation: spin 2s linear infinite;
    border-left-color: $border;
    border-right-color: $border;
    border-bottom-color: $primary-600;
    border-top-color: $primary-600;
    border-style: solid;
    content: '';
    display: inline-block;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__message {
    color: $tw-gray-800;
  }

  &.Spinner--size--xs {
    @include spinner-size(0.75rem);
  }

  &.Spinner--size--sm {
    @include spinner-size(0.875rem);
  }

  &.Spinner--size--md {
    @include spinner-size(1rem);
  }

  &.Spinner--size--lg {
    @include spinner-size(1.125rem);
  }

  &.Spinner--size--xl {
    @include spinner-size(1.25rem);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
