@import '~/scss/mixins';
@import '~/scss/variables';

.Nav {
  @include shadow-md;
  background-color: white;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem 0;
  }

  &__logo {
    height: 40px;
  }

  &__spacer {
    flex: 1;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  &__link {
    @include font-medium;
    @include radius-md;
    align-items: center;
    color: black;
    display: flex;
    font-size: 0.875rem;
    gap: 0.25rem;
    padding: 0.5rem 1rem;

    span {
      font-size: 1.25rem;
    }

    &:not(&--active) {
      &:hover {
        background-color: $primary-100;
      }
    }

    &--active {
      background-color: $primary-600;
      color: white;
    }
  }
}
