@import '@/scss/mixins';
@import '@/scss/variables';

@mixin toggle-size($base) {
  $toggle-height: $base * 1.5;
  $toggle-width: $base * 2.75;

  font-size: $base;
  height: $toggle-height;
  line-height: $toggle-height;

  .Toggle {
    &:checked ~ .Toggle__control:before {
      right: calc($base * 0.125);
    }
  }

  .Toggle__control {
    height: $toggle-height;
    width: $toggle-width;

    &:before {
      height: calc($base * 1.25);
      left: calc($base * 0.125);
      top: calc($base * 0.125);
      width: calc($base * 1.25);
    }
  }
}

.Toggle__container {
  @include toggle-size(1rem);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  user-select: none;

  input {
    display: none;
  }

  &:hover {
    .Toggle:not(:checked):not(:disabled) ~ .Toggle__control {
      background-color: $tw-gray-400;
    }
  }

  &:focus,
  &:active {
    .Toggle:not(:checked):not(:disabled) ~ .Toggle__control {
      background-color: $primary-600;
    }
  }

  &.Toggle__container--size--xs {
    @include toggle-size(0.75rem);
  }

  &.Toggle__container--size--sm {
    @include toggle-size(0.875rem);
  }

  &.Toggle__container--size--md {
    @include toggle-size(1rem);
  }

  &.Toggle__container--size--lg {
    @include toggle-size(1.125rem);
  }

  &.Toggle__container--size--xl {
    @include toggle-size(1.25rem);
  }
}

.Toggle {
  &:checked ~ .Toggle__control {
    background-color: $primary-600;
  }

  &:checked ~ .Toggle__control:before {
    content: '';
    left: auto;
  }

  &:disabled ~ .Toggle__control {
    background-color: $tw-slate-300;
    cursor: not-allowed;

    &:before {
      background-color: $tw-slate-100;
    }
  }
}

.Toggle__control {
  @include radius-5xl;
  background-color: $border;
  position: relative;
  transition: all 0.1s ease-in-out;

  &:before {
    @include radius-full;
    background-color: white;
    content: '';
    position: absolute;
  }
}
