@import '~/scss/variables';
@import '~/scss/mixins';

.SubList {
  &__table {
    thead {
      tr {
        th {
          border: 1px solid black;
          font-size: 0.625rem;
          padding: 0.25rem;
          text-align: left;
          writing-mode: vertical-rl;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid black;
          font-size: 0.75rem;
          padding: 0.25rem;
          text-align: center;
        }

        &:hover {
          background-color: $tw-gray-200;
        }
      }
    }
  }
}
