.TimeSlotTable {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      th {
        border: 1px solid black;
        font-size: 0.625rem;
        padding: 0.25rem;
        text-align: left;
        user-select: none;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
        user-select: none;
      }

      &:hover {
        background-color: var(--border);
      }
    }
  }
}
