@import '~/scss/mixins';
@import '~/scss/variables';

.TimeSlotTable {
  width: 100%;

  thead {
    tr {
      th {
        border: 1px solid black;
        font-size: 0.625rem;
        padding: 0.25rem;
        text-align: left;
        user-select: none;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
        user-select: none;
      }

      &:hover {
        background-color: $tw-gray-200;
      }
    }
  }

  &__slot {
    @include font-bold;
    color: white;
    position: relative;
    text-align: center !important;
    text-transform: uppercase;
    width: 2rem;

    &__corner {
      background-color: black;
      color: white;
      font-size: 0.5rem;
      position: absolute;
      padding: 0.125rem;
      line-height: 1;
      right: 0;
      top: 0;
    }
  }
}
