@import '@/scss/mixins';
@import '@/scss/variables';

.Callout {
  background-color: transparent;
  border: 1px solid $border;
  color: $tw-gray-950;
  padding: 0.5rem 1rem;
  position: relative;
  width: 100%;

  &--withIcon {
    padding-left: 2.25rem;
  }

  &__header {
    @include font-bold;
    margin-bottom: 0.25rem;
  }

  &__icon {
    font-size: 1.25rem !important;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    &--close {
      cursor: pointer;
      left: unset;
      right: 0.5rem;
    }
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.Callout--color--#{$color} {
      background-color: map-get($map, '100');
      border-color: map-get($map, '300');
      color: map-get($map, '800');
    }
  }

  // named colors

  &.Callout--color--primary {
    background-color: $primary-100;
    border-color: $primary-300;
    color: $primary-800;
  }
}
