@import '~/scss/mixins';
@import '~/scss/variables';

.FileDropArea {
  max-width: 20rem;
  min-width: 20rem;

  &__dropzone {
    @include radius-md;
    border: 0.125rem dashed $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;

    &__info {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }

    &--dragging {
      background-color: $tw-gray-200;
    }
  }

  &__fileList {
    @include scrollbar;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-height: 12rem;
    overflow: auto;
    width: 100%;
  }

  &__file {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }

    &:hover {
      background-color: $tw-gray-100;
    }

    &__preview {
      @include radius-md;
      background-color: white;
      object-fit: contain;
      height: 2rem;
      width: 2rem;
    }

    &__name {
      @include text-truncate;
      flex: 1 1 100%;
      font-size: 0.75rem;
    }

    &__size {
      font-size: 0.75rem;
      text-wrap: nowrap;
    }
  }
}
