@import '@/scss/mixins';
@import '@/scss/variables';

.DatePicker {
  width: 18rem;

  &__toolbar {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem 1rem 0.75rem;

    &__button {
      margin-right: auto;
      padding: 0.5rem;
    }
  }

  &__yearList {
    @include scrollbar;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    max-height: 15rem;
    padding: 0.25rem;
    overflow-y: auto;

    &__item {
      @include radius-md;
      cursor: pointer;
      padding: 0.25rem 1rem;
      text-align: left;
      width: 25%;

      &:not(&--selected):hover {
        background-color: $tw-gray-100;
      }

      &--selected {
        background-color: $primary-600;
        color: white;
      }
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  &__month {
    padding: 0 1rem;
  }

  &__calendar {
    padding: 0 1rem 1rem;
    width: 100%;

    table {
      width: 100%;
      thead {
        th {
          @include font-bold;
          color: $tw-gray-600;
          font-size: 0.875rem;
          padding: 0.25rem 0;
        }
      }

      tbody {
        td {
          color: $tw-gray-900;
          cursor: pointer;
          font-size: 0.75rem;
          padding: 0.5rem 0;
          text-align: center;
        }
      }
    }
  }

  &__selected {
    @include radius-md;
    background-color: $primary-600;
    color: white !important;
    position: relative;
  }
}
