@import '@/scss/mixins';
@import '@/scss/variables';

@mixin button-size($base) {
  font-size: $base;
  padding-left: $base;
  padding-right: $base;
  padding-top: calc($base * 0.5);
  padding-bottom: calc($base * 0.5);

  &.Button--iconLeading {
    padding-left: calc($base * 2);

    .iconLeading {
      font-size: calc($base * 1.125);
      left: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }

  &.Button--iconTrailing {
    padding-right: calc($base * 2);

    .iconTrailing {
      font-size: calc($base * 1.125);
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@mixin button-base {
  @include button-size(1rem);
  @include font-medium;
  @include sans;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.1s ease-in-out;

  &:disabled {
    cursor: not-allowed;
  }

  .material-icons,
  .material-symbols,
  .material-symbols-outlined {
    display: block;
  }

  &.Button--fluid {
    width: 100%;
  }

  &.Button--size--xs {
    @include button-size(0.75rem);
  }

  &.Button--size--sm {
    @include button-size(0.875rem);
  }

  &.Button--size--md {
    @include button-size(1rem);
  }

  &.Button--size--lg {
    @include button-size(1.125rem);
  }

  &.Button--size--xl {
    @include button-size(1.25rem);
  }
}

// Default variant

.Button--variant--default {
  @include button-base;
  color: $tw-gray-950;

  &:disabled {
    color: $tw-slate-400 !important;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $tw-gray-50;
    }

    &:active {
      background-color: $tw-gray-100;
    }
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.Button--color--#{$color} {
      color: map-get($map, '600');

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, '50');
        }

        &:active {
          background-color: map-get($map, '100');
        }
      }
    }
  }

  // named colors

  &.Button--color--primary {
    color: $primary-600;

    &:not(:disabled) {
      &:hover {
        background-color: $primary-50;
      }

      &:active {
        background-color: $primary-100;
      }
    }
  }
}

// Outlined variant

.Button--variant--outlined {
  @include button-base;
  background-color: transparent;
  border: 1px solid $border;
  color: $tw-gray-950;

  &:disabled {
    border-color: $tw-slate-400 !important;
    color: $tw-slate-400 !important;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $tw-gray-50;
    }

    &:active {
      background-color: $tw-gray-100;
    }
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.Button--color--#{$color} {
      border-color: map-get($map, '600');
      color: map-get($map, '600');

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, '50');
        }

        &:active {
          background-color: map-get($map, '100');
        }
      }
    }
  }

  // named colors

  &.Button--color--primary {
    border-color: $primary-600;
    color: $primary-600;

    &:not(:disabled) {
      &:hover {
        background-color: $primary-50;
      }

      &:active {
        background-color: $primary-100;
      }
    }
  }
}

// Raised variant

.Button--variant--raised {
  @include button-base;
  @include shadow-sm;
  background-color: white;
  color: $tw-gray-950;

  &:not(:disabled) {
    &:active {
      @include shadow-md;
    }
  }

  &:disabled {
    background-color: $tw-slate-100 !important;
    color: $tw-slate-400 !important;
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.Button--color--#{$color} {
      background-color: map-get($map, '600');
      color: white;
    }
  }

  // named colors

  &.Button--color--primary {
    background-color: $primary-600;
    color: white;
  }
}

// Ghost variant

.Button--variant--ghost {
  @include button-base;
  background-color: transparent;
  border: 1px solid $border;
  color: $tw-gray-950;

  &:not(:disabled) {
    &:hover {
      @include shadow-sm;
    }

    &:active {
      @include shadow-md;
    }
  }

  &:disabled {
    border-color: $tw-slate-400 !important;
    color: $tw-slate-400 !important;
  }

  &:not(:disabled) {
    &:hover {
      background-color: $tw-gray-600;
      color: white;
    }
  }

  // default colors

  @each $map, $color in $tw-color-list {
    &.Button--color--#{$color} {
      border-color: map-get($map, '600');
      color: map-get($map, '600');

      &:not(:disabled) {
        &:hover {
          background-color: map-get($map, '600');
          color: white;
        }
      }
    }
  }

  // named colors

  &.Button--color--primary {
    border-color: $primary-600;
    color: $primary-600;

    &:not(:disabled) {
      &:hover {
        background-color: $primary-600;
        color: white;
      }
    }
  }
}
