@import '~/scss/variables';

.ImpersonationWarning {
  align-items: start;
  display: flex;
  gap: 1rem;
  width: 20rem;

  position: fixed;
  bottom: 1rem;
  right: 1rem;

  &__content {
    align-items: center;
    display: flex;
    gap: 1rem;

    p {
      font-size: 0.75rem;
    }
  }
}
