@import '~/scss/mixins';
@import '~/scss/variables';

.Card {
  background-color: white;
  border: 1px solid $border;
  min-width: 16rem;
  padding: 1rem;
  width: fit-content;

  &.Card--fluid {
    width: 100%;
  }

  &.Card--interactive {
    cursor: pointer;
  }
}
