@import '@/scss/variables';
@import '@/scss/mixins';

.TherapyAppointmentForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__row {
    align-items: center;
    display: flex;
    gap: 1rem;

    &--notes {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__warnings {
    color: $tw-red-700;
    font-size: 0.75rem;
    list-style-type: disc;
    margin-left: 1rem;
  }

  &__technician {
    &--unavailable {
      color: $tw-red-700;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
  }

  &__confirmDelete {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__actions {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
    }
  }

  &__inClinicWarning {
    align-items: center;
    color: $tw-orange-700;
    display: flex;
    font-size: 0.75rem;
    gap: 0.25rem;
    margin-top: 0.5rem;

    span {
      font-size: 1rem;
    }
  }

  &__notes {
    @include scrollbar;
    background-color: $tw-gray-100;
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0.5rem;
    max-height: 6rem;
    overflow-y: auto;
    white-space: pre-wrap;
    width: 100%;
  }
}
