.SettingsDialog {
  padding: 1.5rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    &__actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}
