@import './scss/functions';
@import './scss/tailwind-colors';
@import './scss/variables';
@import './scss/mixins';
@import './scss/defaults';
@import './scss/keyframes';
@import './scss/typography';
@import './scss/utils';

body {
  @include scrollbar;
}

a {
  color: $primary-600;
}

hr {
  border: none;
  border-top: 1px solid $border;
  margin: 0.5rem 0;
}

.centerPage {
  max-width: 20rem;
  margin: 3rem auto 1rem;
}

.DropdownMenu {
  &__content,
  &__subContent {
    @include radius-md;
    @include shadow-lg;
    animation-duration: 400ms;
    background-color: white;
    border: 1px solid $border;
    min-width: 10rem;
    padding: 0.5rem;
    will-change: transform, opacity;

    &[data-side='top'] {
      animation-name: slideDownAndFade;
    }
    &[data-side='right'] {
      animation-name: slideLeftAndFade;
    }
    &[data-side='bottom'] {
      animation-name: slideUpAndFade;
    }
    &[data-side='left'] {
      animation-name: slideRightAndFade;
    }
  }

  &__item,
  &__checkboxItem,
  &__radioItem,
  &__subTrigger {
    @include radius-md;
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    line-height: 2rem;
    outline: none;
    padding: 0 0.25rem;
    padding-left: 2rem;
    position: relative;
    user-select: none;

    &[data-disabled] {
      color: $tw-slate-400;
      pointer-events: none;
    }

    &[data-highlighted] {
      background-color: $primary-600;
      color: white !important;

      .DropdownMenu__icon {
        color: white;
      }

      .DropdownMenu__rightSlot {
        color: white;
      }
    }
  }

  &__item {
    &__indicator {
      align-items: center;
      display: inline-flex;
      position: absolute;
      justify-content: center;
      left: 0;
      width: 2rem;
    }
  }

  &__subTrigger[data-state='open'] {
    background-color: $primary-600;
    color: white !important;
  }

  &__icon {
    align-items: center;
    color: $tw-gray-900;
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    .material-icons,
    .material-symbols,
    .material-symbols-outlined {
      font-size: 1rem;
    }
  }

  &__rightSlot {
    align-items: center;
    color: $tw-gray-500;
    display: flex;
    margin-left: auto;
    padding-left: 1.25rem;
  }

  &__label {
    color: $tw-gray-700;
    font-size: 0.75rem;
    padding-left: 2rem;
    line-height: 2rem;
  }

  &__separator {
    background-color: $border;
    height: 1px;
    margin: 0.25rem;
  }

  &__arrow {
    fill: white;
  }
}
