@import '~/scss/mixins';
@import '~/scss/variables';

.RadixDialog {
  &__overlay {
    animation: overlayShow 200ms;
    background-color: rgba($tw-gray-800, 0.75) !important;
    position: fixed;
    inset: 0;
  }

  &__content {
    @include radius-md;
    @include shadow-xl;
    animation: contentShow 400ms;
    background-color: white;
    max-height: 85vh;
    min-height: 3rem;
    min-width: 16rem;
    max-width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.RadixDrawer {
  &__overlay {
    animation: overlayShow 200ms;
    background-color: rgba($tw-gray-800, 0.75) !important;
    position: fixed;
    inset: 0;
  }

  &__content {
    @include shadow-xl;
    animation: slideInRight 400ms;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 20rem;
  }

  &__close {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
  }
}
