@import '@/scss/mixins';
@import '@/scss/variables';

.RadixPopover {
  &__content {
    @include radius-md;
    @include shadow-md;
    animation-duration: 400ms;
    background-color: white;
    border: 1px solid $border;
    min-width: 8rem;
    will-change: transform, opacity;
    z-index: 100;

    &[data-state='open'][data-side='top'] {
      animation-name: slideDownAndFade;
    }
    &[data-state='open'][data-side='right'] {
      animation-name: slideLeftAndFade;
    }
    &[data-state='open'][data-side='bottom'] {
      animation-name: slideUpAndFade;
    }
    &[data-state='open'][data-side='left'] {
      animation-name: slideRightAndFade;
    }
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
