@import '~/scss/mixins';
@import '~/scss/variables';

.ClientTechnicianHistory {
  &__container {
    @include scrollbar;
    max-height: 50rem;
    overflow: auto;
  }

  &__notes {
    font-size: 0.75rem;
    white-space: pre-wrap;
  }

  thead {
    tr {
      th {
        border: 1px solid black;
        font-size: 0.625rem;
        padding: 0.25rem;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid black;
        font-size: 0.75rem;
        padding: 0.25rem;
        text-align: left;
        vertical-align: top;
      }
    }
  }
}
