@import '@/scss/variables';

.ClientAvailability {
  &__table {
    border-collapse: collapse;
    width: 100%;

    &--vertical {
      writing-mode: vertical-rl;
    }

    thead {
      tr {
        th {
          border: 1px solid black;
          font-size: 0.625rem;
          padding: 0.25rem;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid black;
          font-size: 0.75rem;
          padding: 0.25rem;
          text-align: left;
        }

        &:hover {
          background-color: var(--border);
        }
      }
    }

    tfoot {
      tr {
        td {
          border: 1px solid black;
          font-size: 0.625rem;
          padding: 0.25rem;
          text-align: left;
        }

        &:hover {
          background-color: var(--border);
        }
      }
    }

    &__boldBorder {
      border-left: 6px solid black !important;
      border-right: 6px solid black !important;
    }

    &__block {
      background-color: $tw-gray-400;
      color: black;
      cursor: pointer;
      width: 4.5rem;

      &--first {
        border-left: 6px solid black !important;
      }

      &--last {
        border-right: 6px solid black !important;
      }

      &__count {
        background-color: $tw-green-100 !important;
        border-top: 2px solid black !important;
      }
    }
  }
}
